#map {
    background-position: center;
    .container {
        padding: 80px 0;
        div {
            color:#f38181;
            h5 {
                position: relative;
                &::after {
                    position: absolute;
                    content: '';
                    top: 60px;
                    left: 50%;
                    width: 60px;
                    height: 3px;
                    transform: translate(-50%,-50%);
                    background-color: #f38181;
                }
            }
        }
    }
}